@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&family=REM:wght@200&display=swap');

*{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
}

body {
  margin: 0;
    background-color: #67a6e6b9;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e7e7e7ec;
  padding: 0 60px;
}

.nav-left ul {
  display: flex;
  list-style: none;
  align-items: center;
}

.nav-left a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.nav-left ul li {
  margin-right: 30px;
  font-size: 18px;
}

.nav-left ul li img {
  margin: 0;
  vertical-align: middle;
}

.nav-right a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  color: black;
  background-color: black;
  padding: 6px 20px;
  border-radius: 6px;
  color: white;
}

.nav-right a:hover {
  background-color: rgb(255, 90, 34);
  color: white;
}

  .kartu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 32px 100px 32px 100px;
    padding: 24px 76px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 6px;
}

.kartu-left {
  text-align: left;
  width: 580px;
}

.contact  {
    display: flex;
    justify-content: left;
    align-items: baseline;
}

.button a{
    text-decoration: none;
    font-size: 18px;
    background-color: black;
    padding: 6px 24px;
    border-radius: 24px;
    color: white;
}

.button a:hover {
    background-color: orangered;
    color: white;
}

.curiculum {
    margin-left: 16px;
}

.curiculum a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000000;
    margin-top: 16px;
}

.curiculum  i {
    margin-left: 8px;
    color: #000000;
}

.kartu-right {  
    text-align: center;
}

.kartu p {
  text-align: left;
}

.images {
    background-color: white;
    line-height: 1.4;
    color: #333;
    border-radius: 0.5rem;
    width: 300px;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin-top: 24px;
    margin-bottom: 24px;
  }
  
  .images img {
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
  
  .self {
    padding: 8px 26px 8px;
  }

  .self h2 {
    margin: 0;
    font-size: 22px;
  }
  .self p {
    text-align: center;
    margin: 8px 0 8px 0;
  }

  .icon {
    display: flex;
    justify-content: left;
    margin-top: 32px;
  }

  .icon a {
    height: 32px;
    width: 32px;
    background: #000000;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    text-decoration: none;
  }

  .icon a:hover{
    background: orangered;
  }

  .icon .icon-b {
    margin: 0 16px;
  }

  .icon .icon-c {
    margin: 0 16px 16px 0;
  }

form {
    width: 400px;
    gap: 8px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

form div {
    margin: 2px;
}

label {
    font-weight: 500;
    font-size: 16px;
}

h2 {
  text-align: center;
  display: block;
  font-size: 24px;
  font-weight: bold;
}

input, select, textarea {
    width: 100%;
    background-color: white;
    border-radius: 4px;
    border:none;
    padding: 10px 10px;
    margin-top: 6px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}

textarea {
    resize: none;
    font-family: Poppins, sans-serif;
}

.subject {
  width: 100%;
}

button {
    background-color: black;
    padding: 4px 20px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submits {
    float: right;
    padding: 10px 32px;
    border-radius: 24px;
    margin: 10px 0px;
}

.submits:hover {
    background-color: orangered;
}

  